.App {
  text-align: center;
}

.pixel {
  border-color: black !important;
  border-style: solid !important;
  width: 30px;
  height: 30px;
  background-color: red;
}

.table {
  display: flex;
  flex-direction: row;
}

.alignBoard {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}