.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel {
  border-color: black !important;
  border-style: solid !important;
  width: 30px;
  height: 30px;
  background-color: white;
}

.table {
  display: flex;
  flex-direction: row;
}

.content {
  width: 50%;
}

.alignBoard {
  margin: auto;
  width: 90%;
  border: 3px solid green;
  padding: 10px;
}

.buttonsContent {
  height: 40px;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.swicthContent {
  display: flex;
  align-items: center;
}

.activateSwitch {
  color: #fff;
  background-color: #3f51b5;
  padding: 10px;
  border-radius: 5px;
}

.deactivateSwitch {
  color: #fff;
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
}